<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">
    <description>
        提供了各应用通用的Shiro客户端配置；这样应用只需要导入相应该配置即可完成Shiro的配置，简化了整个配置过程。

        提供给客户端配置的properties属性文件，client/shiro-client-default.properties是客户端提供的默认的配置；
        classpath:client/shiro-client.properties是用于覆盖客户端默认配置，各应用应该提供该配置文件，
        然后提供各应用个性配置
    </description>

    <context:property-placeholder location="classpath:client/shiro-client-default.properties,classpath:client/shiro-client.properties"/>

    <import resource="spring-client-remote-service.xml"/>
    <import resource="spring-client-shiro.xml"/>
</beans>